html, body{
    margin: 0px;
    overflow: hidden;
    background: #202020;
}

img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#fps{
    position: absolute;
    font-family: sans-serif;
    color: rgb(93, 255, 175);
    padding: 10px;
    background: rgba(47, 47, 47, 0.46);
    z-index: 100;
    font-weight: bold;
}

canvas{
    background: #000;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#preRenderCanvas{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

#mainCanvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    /*zoom: 300%;*/
}